@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --green: #cbe300;
  --color-background: #0c1014;
  --color-nav: #05080a;
  --color-container: #1f262c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
